@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans:ital@1&display=swap');

body{
    background-color: #0000FF;
    color: beige;
    font-family: 'Noto Sans', sans-serif;

}
.pass_field{
    display: flex;
    flex-direction: row;
    text-align: center;   
}
.heading h1{
    font-family: 'Merriweather', serif;
}
.pass_field i{
    position: relative;
    right: 20;
    color: white;
    padding-right: 5px;
}
/* The form box */
.form{
    -webkit-box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
    background-color: #000075;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
/* The checkboxes*/
.word{
    margin-bottom: 20px;
}
.length{
    width: 30px;
}
.number{
    margin-bottom: 5px;
}
.number label{
    color: azure;
    font-size: 14px;
    margin-bottom: 0px;
}
/* Button */
#generate_password{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    color: #0F1E64;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    border: #53DFD1;
    border-radius: 5px;
    background-color: #53DFD1;
}